
.vjs-playlist .vjs-selected, .vjs-playlist.vjs-mouse .vjs-selected {
    background-color: #78cdf4 !important;
}

.vjs-playlist .vjs-playlist-duration {
    background-color: #78cdf4 !important;
}

.bc-iframe .vjs-playlist-show-hide button:focus {
    border-style: solid none solid solid;
    border-color: transparent;
    border-width: 0px;
    outline: 0;
}

textarea:focus, input:focus{
    outline: none;
}

button:focus {outline:0;}


*:focus {
    outline: none;
}


.bc-iframe .vjs-playlist-show-hide {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 100%;
    transition: all .4s !important;
}

.bc-iframe .vjs-playlist-show-hide button {
    width: 15px;
    height: 100%;
    line-height: 0;
    margin: 0;
    padding: 0px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Trebuchet MS";
    font-size: 18px;
    background-color: #78cdf4 !important;
    border-radius: 0;
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.bc-iframe .vjs-playlist-show-hide button:focus, .bc-iframe .vjs-playlist-show-hide button:hover{
    outline: none !important;
}



.bc-iframe .vjs-playlist-sidebar-vertical.vjs-playlist-hidden {
    width: 40% !important;
    max-width: 240px !important;
    top: 0%;
    height: 100%;
    transform: translateX(calc(100% - 18px));
    transition: all .4s !important;
}

.bc-iframe .vjs-playlist-vertical {
    margin: 0 0 0 15px;
}

.bc-iframe .vjs-playlist-sidebar-vertical {
    transition: all .4s !important;
  transform: translateX(0%);
    width: 40% !important;
    max-width: 240px !important;
}

.vjs-playlist {
    padding: 0;
        background-color: rgba(0, 0, 0, 0.6)!important;
    color: #fff;
    list-style-type: none;
}

.vjs-playlist .vjs-playlist-duration {
    position: absolute;
    top: .5rem;
    left: .5rem;
    padding: 2px 5px 3px;
    margin-left: 2px;
    background-color: #78cdf4 !important;
    font-size: 10px;
}
